body {
    background-color: rgb(82, 51, 14);
    font-family: Bai Jamjure;
}
footer {
    background-color: black;
    color: rgb(155, 15, 15);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2rem;
}
footer p {
    text-align: center;
    font-size: 0.6rem;
    margin-top: 0.5rem;
}
