body {
    background-color: rgb(82, 51, 14);
}
footer {
    background-color: black;
    color: rgb(155, 15, 15);
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer p {
    text-align: center;
    font-size: 0.6rem;
}
body {
    background-color: rgb(156, 99, 29);
    font-family: Bai Jamjuree;
}